<h1>All Transactions</h1>

<% @transactions.each do |transaction| %>
  <p> Value: <%= transaction.value %> </p>
  <p> Type: <%= transaction.tag.name %> </p>
  <p> Merchant: <%= transaction.merchant.merchant_name %> </p>
<% end %>

<div>
   <a class="button big-button" href="/">Home</a>
</div>
