<h1>Account_Holders</h1>

<table>
  <tr>
    <th>First_Name</th>
    <th>second_Name</th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="/transactions/<%= transaction.id %>"><%= account_holder %></a></td>

    <td><%= transactions.all %></td>
  </tr>
  <% end %>
</table>
