<h1>All Transactions</h1>

<% @transactions.each do |transaction| %>
  <p> Transaction Value: <%= transaction.value %> </p>
  <p> Transaction Type: <%= transaction.tag.name %> </p>
  <p>  <%= transaction.merchant.merchant_name %> </p>
<% end %>
