<!DOCTYPE html>
<html>
<head>
  <title>Cash_Money</title>
  <link href="/styles/layout.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav>
    <ul class="links">
      <li>
        <a href="/" style="text-decoration:none">Home</a>
      </li>
      <li>
        <a href="/transactions" style="text-decoration:none">All Transactions</a>
      </li>
      <li>
        <a href="/transactions/new" style="text-decoration:none">Create Transaction</a>
      </li>
      <li>
        <a href="/transactions/total" style="text-decoration:none">Total Amount Spent</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <%= yield %>
  </div>
</section>
</body>
</html>
