<!DOCTYPE html>
<html>
<head>
  <title>Cash_Money</title>
  <link href="/styles/layout.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav>
    <ul class="links">
      <li>
        <a class="anchor" href="/">Home</a>
      </li>
      <li>
        <a href="/transactions">All Transactions</a>
      </li>
      <li>
        <a href="/transactions/new">Create Transaction</a>
      </li>
      <li>
        <a href="/transactions/total">Total Amount Spent</a>
      </li>
    </ul>
  </nav>
    <div class="content">
      <%= yield %>
    </div>
  </section>
</body>
</html>
