<form method="post" action="/transactions">

  <div class="field-group">
    <label for="first-name-field" class="label">First Name:</label>
    <div class="field">
      <input
        type="text"
        name="first_name"
        id="first-name-field"
        placeholder="First name"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Second Name:</label>
    <div class="field">
      <input
        type="text"
        name="second_name"
        id="second-name-field"
        placeholder="second name"
        required
      />
    </div>
  </div>

  <div class="field-group">
    <label for="-field" class="label":</label>
    <div class="field">
      <input
        type="text"
        name="second_name"
        id="second-name-field"
        placeholder="second name"
        required
      />
    </div>
  </div>

</form>
