<form method="post" action="/transactions">

  <div class="field-group">
    <label for="-field" class="label">Merchant:</label>
    <div class="field">
      <input
      type="text"
      name="merchant_name"
      id="merchant-name-field"
      placeholder="merchant name"
      required
      />
    </div>
  </div>

  <div class="field-group">
    <label for="-field" class="label">Transaction Type:</label>
    <div class="field">
      <input
      type="text"
      name="tag name"
      id="tag-name-field"
      placeholder="tag name"
      required
      />
    </div>
  </div>

  <div class="field-group">
    <label for="-field" class="label">Amount:</label>
    <div class="field">
      <input
      type="text"
      name="value"
      id="value-name-field"
      placeholder="amount"
      required
      />
    </div>
  </div>

  <button type="submit">Create</button>

  <div>
    <a class="button big-button" href="/">Home</a>
  </div>

</form>
