body {
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
  margin: auto;
}

h1 {
  font-size: 40px;
  color: black;
}

figure > img {
  width: 50em;
}

.transactions {
  width: 800px;
  margin: 0 auto;
}

.transactions td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.links li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.form-centered {
  text-align: center;
  border: 1px solid black;
  width: 400px;
  margin: auto;

}

.total-centered {
  text-align: center;
  border: 1px solid black;
  width: 200px;
  margin: auto;
  padding: 15px 15px 15px 15px;
}

.content {
  text: 100px;
  text-align: center;
}

.button1 {
  border-radius: 100%;
  background-color: red;
  border: 1px solid black;
}

.button2 {
  border-radius: 100%;
  background-color: yellow;
  border: 1px solid black;
}

.anchor {
  text: 30px;
}
